<%if @errors%>
  <%@errors.each do |error|%>
    <h4><%=error%></h4>
  <%end%>
<%end%>
<%=form_with url: '/login', method: :post do |f|%>
  <%=f.label :email %>
  <%=f.text_field :email%>
  <%=f.label :password%>
  <%=f.password_field :password%>
  <%=f.submit 'Login'%>
<%end%>

 <%=link_to "Log in with Google",'/auth/google_oauth2'%>
    <%=link_to "Log in with Facebook",'/auth/facebook'%>